{% extends 'base.html' %}

{% block content %}

{% if error %}
<br>
<br>
<button type="button" style="background-color:red;" name="button">{{ error }}</button> 
<br>
{% endif %}

<h1>Sign up</h1>

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  First Name:
  <br>
  <input type="text" name="first name" value="">
  <br>
  <br>
  Last Name:
  <br>
  <input type="text" name="last name" value="">
  <br>
  <br>
  Email:
  <br>
  <input type="email" name="username" />
  <br>
  <br>

  Password:
  <br>
  <input type="password" name="password1" />
  <br>
  <br>
  Confirm Password:
  <br>
  <input type="password" name="password2" />
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
